
<div class="products-page">

    <br>    
    <h1> CoderHouse - Comision 53120 </h1>
    <h2>Proyecto Backend - Alumno: Jean Michell Canache</h2>

    <div class="product-list">
 
        <div class="product card" style="width: 22rem;">
            
            <img src="/static/img/backend-pulpo.png" alt="...">
        
        </div>
        

    </div>

</div>

